@font-face
	font-family: "Symbola"
	src: url("../fonts/Symbola_hint.ttf")

$font-family-serif:	 Times, serif
$font-family-sans:	 Arial, sans-serif
$font-family-symbol: Symbola

$color-dark:  black
$color-light: white

$border: 2px solid black

$menu-width:  200px
$input-width: 150px
$button-size: 45px
$grid-size:	  50px

$menu-btn-radius: 10px