@font-face {
    font-family: Symbola;
    src: url("fonts/Symbola_hint.ttf");
}

body,
img,
h1,
h3,
p {
	margin: 0;
}

body {
	background-color: black;
}

.gameTitle {
	height: 37px;
	text-align: center;
	background-color: white;
	border-bottom: 2px solid black;
}

.menuLink {
	float: left;
	color: black;
	font-size: 26px;
	padding-left: 5px;
	text-decoration: none;
}

.menuLink:hover {
	color: white;
	background-color: black;
}

.gameContent {
	display: flex;
}

.menu {
	float: left;
	padding: 5px;
	display: block;
	overflow: auto;
	min-width: 180px;
	max-width: 180px;
	text-align: center;
	background-color: white;
	border-right: 2px solid black;
}

.gameMenu {
	display: none;
}

.userInput {
	width: 150px;
	height: 20px;
}

.forcedOption {
	display: none;
}

.menuButton {
	width: 120px;
	height: 40px;
	border-radius: 10px;
	display: inline-block;
}

.details {
	text-align: left;
}

.detailsLink {
	color: black;
	text-decoration: none;
}

.detailsLink:hover {
	text-decoration: underline;
}

.detailsTitle {
	display: none;
	line-height: 30px;
	text-align: center;
}

.speciesImage {
	width: 15px;
	height: 16px;
	display: inline;
	margin-right: 3px;
}

.detailsLabel {
	display: inline;
}

.attributes {
	margin: auto;
}

.actionMenu {
	display: inline-flex;
}

.actionButtons {
	display: grid;
	grid-template-rows: repeat(3, 50px);
	grid-template-columns: repeat(3, 50px);
}

.upLeft {
	grid-column: 1/2;
	grid-row: 1/2;
	margin: auto;
}

.up {
	grid-column: 2/3;
	grid-row: 1/2;
	margin: auto;
}

.upRight {
	grid-column: 3/4;
	grid-row: 1/2;
	margin: auto;
}

.left {
	grid-column: 1/2;
	grid-row: 2/3;
	margin: auto;
}

.center {
	grid-column: 2/3;
	grid-row: 2/3;
	margin: auto;
}

.right {
	grid-column: 3/4;
	grid-row: 2/3;
	margin: auto;
}

.downLeft {
	grid-column: 1/2;
	grid-row: 3/4;
	margin: auto;
}

.down {
	grid-column: 2/3;
	grid-row: 3/4;
	margin: auto;
}

.downRight {
	grid-column: 3/4;
	grid-row: 3/4;
	margin: auto;
}

.actionButton {
	width: 45px;
	height: 45px;
	font: 20px Symbola;
}

.actionSymbol {
	display: inline-flex;
	font-family: Symbola;
}

.map {
	overflow: auto;
	display: inline-flex;
}

.mapTiles {
	margin: auto;
}

.mapRow {
	display: flex;
}

.mapTile {
	width: 15px;
	height: 16px;
	display: none;
	position: relative;
}

.mapTile.playerIcon {
	z-index: 1;
}